body		{font-family: "Chiller", Cooper Black, Berlin;}

a			{color: black;
			cursor: pointer;}

a:hover		{color: black;
			text-decoration: none;}
			
.goodMessage	{color: green;
				font-style: italic;}
				
.badMessage	{color: green;
			font-style: italic;}
			
.attendName	{padding: 9px;}

#template	{margin-left: 25px;}

#header		{font-family: "Chiller", Cooper Black, Berlin;
			height: 100px;
			padding-top: 25px;
			background-color: black;
			color: white;}
			
#body		{font-family: "Chiller", Cooper Black, Berlin;
			padding-top: 45px;
			padding-left: 60px;}
			
#rightPanel	{font-family: "Chiller", Cooper Black, Berlin;
			padding-top: 45px;
			border-left: solid red 1px;}
			
#camperLink	{padding: 15px;
			border-bottom: solid red 1px;}
			
li#camperLink:hover	{background-color: #f6f6f6;}

a.pageLink	{color: black;}

a.pageLink:hover	{text-decoration: none;
					color: red;}
			
#navList	{font-family: "Chiller", Cooper Black, Berlin;
			padding-left: 30px;
			border-right: solid red 2px;}
			
.navItem	{border-bottom: solid red 1px;
			padding: 26px;
			font-size: 20px;}
	
.navClick	{color: black;
			text-decoration: none;}
			
.navClick:hover	{color: red;
				text-decoration: none;}
				
				
#scheduleWrap	{width: 1800px;
				height: 530px;}

#scheduleCont	{background-color:#D3D3D3;
				border-right: solid #D3D3D3 5px;
				border-left: solid #D3D3D3 5px;
				width: 1000px;
				height: 555px;
				overflow-x: scroll;}
				
#oscheduleWrap	{width: auto;
				height: 460px;}

#oscheduleCont	{background-color: red;
				border: solid red 5px;
				width: 400px;
				height: 500px;
				overflow-y: scroll;
				margin-bottom: 20px;}

.day		 {font-family: "Chiller", Cooper Black, Berlin;
			background-color: white;
			float: left;
			padding: 6px;
			margin: 5px;
			height: 500px;
			width:	350px;}
			
#schedHead	{text-align: center;}
			
li.headerLi	{list-style-type: none;
			display: inline;}
			
#logo		{font-family: "Chiller", Cooper Black, Berlin;
			font-size: 28pt;}
			
#camp		{font-family: "Chiller", Cooper Black, Berlin;
			color: white;
			font-size: 32pt;}

#addCamper	{text-decoration: underline;}

#x			{text-decoration: underline;}

#logout		{text-align: right;
			font-size: 11pt;}

table.bodyTable		{width: 80%;
					margin: 0 auto;}

hr			{width: 150px;
			margin: 0;}
			
ul			{list-style-type: none;
			padding: 0;}
			

#todayAttendance	{width: 33%;}


#links		{width: 34%;
			text-align: right;}
			
hr#right	{text-align:right;
			margin-left: 365px;}

h2#camperPagesHeading	{text-align: center;}

a			{text-decoration: none;
			color: black;}