<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>VirtualCamp</title>
		<link href="{{ url_for('static', filename=session['theme']) }}" type="text/css" rel="stylesheet" />
		<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>

	<body onload="">
		<div class="row" id="header">
			<div class="col-md-1"></div>
			<div class="col-md-4"><span id="logo"><a href="attendance">Virtual<span id="camp">Camp</span></a></span></div>
			<div class="col-md-1"></div>
			<div class="col-md-2">Shelbyville Parks Dept. Day Camp</div>
			<div class="col-md-1">Hello, {{session['name']}}</div>
			<div class="col-md-2"><a href="about">About</a>
				|
			<a href="contact">Contact Us</a></div>
			<div class="col-md-1"><a href="login">logout</a></div>
		</div>
		
		<div class="row">
			<div class="col-md-2" id="navList">
				<ul>
					<li class="navItem"><a class="navClick" href="attendance">Home</a></li>
					<li class="navItem"><a class="navClick" href="schedule">Work Schedule</a></li>
					<li class="navItem"><a class="navClick" href="upload">Upload</a></li>
					<li class="navItem"><a class="navClick" href="settings">Settings</a></li>
				</ul>
			</div>
			<div class="col-md-8" id="body">
				<h1>You're not an Admin!</h1>
				<h3>You think you're sneaky...</h3>
				<h4>but we're smarter than you</h4>
			</div>
			<div class="col-md-2" id="rightPanel">
				
			</div>
		</div>
	</body>
</html>
				